@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-behavior: smooth;
}




@layer base {
  body {
    @apply bg-white;
    @apply text-black;
 
   
  }



  .animation-slide-up {
    animation: slide-up 200ms ease-in-out forwards;
  }

  @keyframes slide-up {
    from {
      opacity: 0;
      transform: translateY(-40px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  #line {
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: black;
}
}

.grid-cols-dots {
  grid-template-columns: repeat(30, 1fr);
  grid-template-rows: repeat(8, 1fr);
}



@media screen and (max-width: 1024px) {
  .grid-cols-dots {
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(16, 1fr);
  }
}

.yeseva-one-regular {
  font-family: "Yeseva One", serif;
  font-weight: 400;
  font-style: normal;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  @apply appearance-none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}